@font-face {
    font-family: "fontawesome";
    src: 
        url('FontAwesome.woff') format('woff');
}

div.centre {
    display: flex;
    justify-content: center;
}

button.refresh {
    padding: 0.5em;
    border-radius: 0.5em;
    font-size: 1.2em;
}

body {
    font-family: Tahoma, Arial, Helvetica, sans-serif ;

    /* pour le bas de page */
    display:flex; 
    flex-direction:column;
    height: 100vh;
    margin: 0;
}
/* pour le bas de page */
.content {
    flex-grow: 1;
    margin: 1.5rem;
    overflow: auto;
}

footer {
    font-style: italic;
    font-size: smaller;
    text-align: right;
    margin: 0.5em;
}
footer > a {
    font-family: fontawesome;
    font-style: normal;
    color: white;
    background-color: gray;
    text-decoration: none;
    padding: 0.2em;
}
footer > a:hover {
    background-color: blue;
}

div.container {
    display: grid;
    grid-template-columns: max-content auto;
    margin: 1rem 1rem;
}
div.label {
    margin-right: 0.4em;
}
header > div.container {
    justify-items: center;
    font-size: xx-large;
}
header > div.container > div.label {
    font-weight: bold;
}
nav > div.container > div.data-refresh {
    font-weight: bold;
}
nav > div.container > div.data-refresh > span {
    font-weight: normal;
}
hr {
    margin: 1em 1em;
}


