
/* le lien <a> de refresh comme un boutton */
a.aTagLikeButton {
    padding: 0.5em 0.4em;
    -webkit-appearance: button;
    -moz-appearance:    button;
    appearance:         button;
    text-decoration: none;
}
div.aTagLikeButton {
    display: flex;
    justify-content: center;
}

body {
    font-family: Tahoma;

    /* pour le bas de page */
    display:flex; 
    flex-direction:column;
    min-height: 97vh;
}
/* pour le bas de page */
.content {
    flex-grow:1;
}

footer {
    /*position:absolute;
    bottom: 0;
    width: 99%;
    height: 1.2em;
    margin-top:auto; */
    font-style: italic;
    font-size: smaller;
    text-align: right;

}

div.container {
    display: grid;
    grid-template-columns: max-content auto;
    margin: 1rem 1rem;
}
div.label {
    margin-right: 0.4em;
}
header > div.container {
    justify-items: center;
    font-size: xx-large;
}
header > div.container > div.label {
    font-weight: bold;
}
nav > div.container > div.data-refresh {
    font-weight: bold;
}
nav > div.container > div.data-refresh > span {
    font-weight: normal;
}
hr {
    margin: 1em 1em;
}
